body{
    background-color: #dd74a0;
}

fieldset{
    margin-left: 20%;
    margin-right: 20%;
}

table tr td, button[name="save"]{
    color: blue;
}

button[type="reset"]{
    color: rgb(3, 190, 3);
}

button[type="delete"]{
    color: rgb(250, 246, 6);
}

button[name="vaciar"]{
    color: rgb(110, 1, 1);
}